---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Suki",
  lastName: "Richards",
  country: "Turkey",
  occupation: "very good cat",
  hobbies: ["eating", "sleeping", "biting", "fighting"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const textCase = "uppercase";
const fontWeight = "bolder";
---

<style define:vars={{ skillColor, textCase, fontWeight }}>
  .skill {
    color: var(--skillColor);
    font-family: monospace;
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <p>... and my new Astro site!</p>
  <p>Currently, I'm working through Astro's introductory tutorial</p>
  <p>Here are a few facts about one of my cats:</p>
  <ul>
    <li>Her name is {identity.firstName}.</li>
    <li>
      Her breed originated from {identity.country} and she is a {
        identity.occupation
      }
    </li>
    <li>
      Her hobbies are:
      <ul>
        {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
      </ul>
    </li>
    <li>
      Her skills include:
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
    </li>
  </ul>
  {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I finished this tutorial!</p>}
  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</BaseLayout>
